:root {
  --blue: #0270d0;
  --yellow: #ffee00;
  --card-bg: #ffffff;
  --shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  background: url(/assets/background.webp);
  background-size: cover;
  background-repeat: repeat;
  cursor: url("/assets/qibla.webp"), auto;
  padding: 2rem;
}

/* Container principale */
.azkar-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 22px;
  padding: 2rem;
  box-shadow: var(--shadow);
  border: 2px solid var(--blue);
}

/* Card */
.card {
  background-color: var(--card-bg);
  border: 2px solid var(--blue);
  border-radius: 16px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  transition: 0.3s ease;
  box-shadow: var(--shadow);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  border-color: var(--yellow);
}

.card h3 {
  color: var(--blue);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.card h4 {
  margin: 1rem 0;
  padding: 1rem;
  background-color: #f1f9ff;
  border: 1px solid var(--blue);
  border-radius: 12px;
  font-size: 1rem;
  color: #333;
}

.card-text {
  color: var(--yellow);
  font-weight: bold;
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* Button */
.card button {
  margin-top: auto;
  padding: 10px 18px;
  background-color: rgba(2, 112, 208, 0.05);
  color: var(--blue);
  border: 1px solid rgba(2, 112, 208, 0.4);
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card button:hover {
  background-color: var(--blue);
  color: white;
  border-color: var(--blue);
  transform: translateY(-1px);
}

.card button:active {
  transform: scale(0.97);
}


/* Stato cliccato */
.clicked {
  opacity: 0.4;
}

/* Pulsante "indietro" */
#backButton {
  display: block;
  margin: 2rem auto;
  padding: 10px 20px;
  background-color: rgba(2, 112, 208, 0.05);
  color: var(--blue);
  border: 1px solid rgba(2, 112, 208, 0.4);
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

#backButton:hover {
  background-color: var(--blue);
  color: white;
  border-color: var(--blue);
  transform: translateY(-1px);
}

#backButton:active {
  transform: scale(0.97);
}


/* Tipo */
.type {
  color: var(--yellow);
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
}