/* X-Small */
@media screen and (max-width: 375px) {
 main {
    background-size: 120%;
  }
  
  .section-intro h2 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .section-intro p {
    font-size: 1rem;
    padding-bottom: 0rem;
    margin: 0;
    text-align: center;
  }

  .p-group {
    margin-top: 0rem;
    width: 100%;
  }
  
  .p-group .special {
    font-size: 0.9rem;
  }

  .container {
    width: 90vw;
  }

  /**NAV-BAR START */
  nav .container .nav-list ul {
    display: none;
  }

  nav .container .nav-logo h1 {
    font-size: 1.4rem;
  }

  nav .container .nav-toggle {
    display: inline-block;
  }
  /**NAV-BAR END */

  /**HERO START */
  .hero .container {
    flex-direction: column;
  }

  .hero .container .h-content {
    width: 100%;
  }

  .hero .container .h-content h2 {
    font-size: 1.5rem;
  }

  .hero .container .h-content p {
    font-size: 1.1rem;
    line-height: 24px;
  }

  .hero .container .h-img {
    width: 100%;
  }
  /**HERO END */

  #prayer-times .container {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  #prayer-times img {
    width: 1.5rem;
  }

  #prayer-times .container .pt-content {
    padding: 0;
    margin: 0;
  }

  #prayer-times .container .pt-content .pt {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.1rem;
  }

  #prayer-times .container .prayer span {
    font-size: 1.1rem;
  }

  .pillars {
    flex-wrap: wrap;
    margin-top: 1.5rem;
  }

  #five-pillars .container .pillar {
    width: 70%;
    margin: auto;
  }

  #five-pillars .container .section-intro h2 {
    font-size: 1.2rem;
  }

  /**QURAN START */
  .quran .container{
    flex-direction: column;
  }
  /**QURAN END */
 
  /**AZKAR START */
  .azkar .container .azkar-content {
    flex-direction: column;
    gap: 1rem; /* spazio verticale tra le card */
  }

  .azkar .container .azkar-card {
    width: 100%; /* prendono tutta la larghezza */
  }
}

  /**AZKAR END */

  /**FOOTER START */
  footer .container .contact {
    flex-direction: column;
  }
  .contact-us {
    font-size: 1.2em;
    text-align: start;
    color: white;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
  }
  .contact-us p {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .contact-us p a {
    color: var(--yellow);
  }
  .contact-us a {
    color: white;
  }
  /**FOOTER END */


/* Small-Medium */
@media screen and (min-width: 376px) and (max-width: 768px) {
  body {
    background-size: 160%;
  }
  
  .section-intro h2 {
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .section-intro p {
    font-size: 1rem;
    padding-bottom: 0rem;
    margin: 0;
    text-align: center;
  }

  .p-group {
    margin-top: 0rem;
    width: 100%;
  }
  
  .p-group .special {
    font-size: 0.9rem;
  }

  .container {
    width: 90vw;
  }

  /**NAV-BAR START */
  nav .container .nav-list ul {
    display: none;
  }

  nav .container .nav-logo h1 {
    font-size: 1.4rem;
  }

  nav .container .nav-toggle {
    display: inline-block;
  }
  /**NAV-BAR END */

  /**HERO START */
  .hero .container {
    flex-direction: column;
  }

  .hero .container .h-content {
    width: 100%;
  }

  .hero .container .h-content h2 {
    font-size: 1.5rem;
  }

  .hero .container .h-content p {
    font-size: 1.1rem;
    line-height: 24px;
  }

  .hero .container .h-img {
    width: 100%;
  }
  /**HERO END */

  #prayer-times .container {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  #prayer-times img {
    width: 1.5rem;
  }

  #prayer-times .container .pt-content {
    padding: 0;
    margin: 0;
  }

  #prayer-times .container .pt-content .pt {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.1rem;
  }

  #prayer-times .container .prayer span {
    font-size: 1.1rem;
  }

  .pillars {
    flex-wrap: wrap;
    margin-top: 1.5rem;
  }

  #five-pillars .container .pillar {
    width: 70%;
    margin: auto;
  }

  #five-pillars .container .section-intro h2 {
    font-size: 1.2rem;
  }

  /**QURAN START */
  .quran .container {
    font-size: 0.9rem;
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
  
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.modal-content {
    background-color: #fefefe;
    padding: 0.5rem;
    border-radius: 16px;
    width: 95%;
    max-height: 95vh;
    overflow-y: auto;
    margin: auto;
    text-align: start;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    scrollbar-width: thin;
    scrollbar-color: var(--blue) transparent;
}
#surahContent {
    font-size: 1rem;
    line-height: 0.8;
  }

  .ayah {
    font-size: 1.2rem;
  }
  /**QURAN END */

  /**AZKAR START */
  .azkar-container {
    grid-template-columns: 1fr;
    padding: 1.5rem;
    gap: 16px;
  }
  .card h3 {
    font-size: 1.1rem;
  }
  .card h4 {
    font-size: 1rem;
    padding: 0.8rem;
  }
  .card-text {
    font-size: 1rem;
  }

  /**AZKAR END */

  /**FOOTER START */
  footer .container .contact {
    flex-direction: column;
  }
  .contact-us {
    font-size: 1.2em;
    text-align: start;
    color: white;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
  }
  .contact-us p {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .contact-us p a {
    color: var(--yellow);
  }
  .contact-us a {
    color: white;
  }
  /**FOOTER END */
}

/* Medium-Large */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 90vw;
  }

  /**NAV-BAR START */
  nav .container .nav-list ul {
    display: none;
  }

  nav .container .nav-logo h1 {
    font-size: 2.5rem;
  }

  nav .container .nav-toggle {
    display: inline-block;
  }
  /**NAV-BAR END */

  /**HERO START */
  .hero .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
  }

  .hero .container .h-content h2 {
    font-size: 2rem;
    width: 70%;
  }

  .hero .container .h-content p {
    width: 90%;
  }
  /**HERO END */

  #prayer-times .container {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    padding: 0.5rem;
  }

  #prayer-times img {
    width: 1.5rem;
  }

  #prayer-times .container .pt-content {
    padding: 0;
    margin: 0;
  }

  #prayer-times .container .pt-content .pt {
    padding: 1rem;
    margin: 1rem;
    font-size: 1.1rem;
  }

  #prayer-times .container .prayer span {
    font-size: 1.1rem;
  }

  #five-pillars .container .pillar {
    width: 30%;
    margin: auto;
  }

  #five-pillars .container .section-intro h2 {
    font-size: 1.2rem;
  }

  /**AZKAR START */
  .azkar .container .azkar-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  .azkar .container .azkar-card,
  .azkar .container .azkar-mattina {
    width: 100%;
    margin-bottom: 1rem;
  }
  /**AZKAR END */
}
@media screen  and (min-width: 1441px) {
   .container {
    width: 70vw;
  }
}